* {
  box-sizing: border-box;
}

.custom-button {
  width: 200px;
  height: 50px;
  margin: 64px;
  line-height: 50px;
  background-color: coral;
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.custom-button:hover {
  color: darkcyan;
}
.custom-button:hover > .icon-bird {
  fill: green;
}
.icon-bird {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  fill: white;
}
